.footer {
  width: 100%;
  background-color: var(--bgc-color-nav);
  color: var(--primary-color);
  padding: 3rem 1rem;
}

.footer .container {
  max-width: 1240px;
  margin: auto;
  text-align: center;
}

.bottom {
  text-align: center;
  padding-top: 3rem;
}

@media screen and (max-width: 1200px) {
  .footer {
    background-color: black;
  }
}
